@import 'variables';

.EasyButton-1 {
  position: absolute;


  &__button {
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: $border-radius-pill;
    font-weight: bolder;
    font-size: .9rem;
    background: linear-gradient(99deg, rgba(120, 232, 122, 1) 0%, rgba(217, 155, 203, 1) 100%);
    transform: scale(1);
    position: relative;
    z-index: 100;


  }
}

.EasyButton-2 {
  position: absolute;

  &__button {
    width: max-content;
    height: 40px;
    color: #f1f1F1;
    padding: 3px 5px;
    border-radius: $border-radius-lg;
    font-weight: bold;
    font-size: .9rem;
    background: linear-gradient(20deg, rgb(154, 24, 40) 0%, rgb(16, 153, 203) 100%);
    transform: scale(1);
    position: relative;
    z-index: 100;


  }


}

.EasyButton-3 {
  position: absolute;

  &__button {
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: $border-radius-pill;
    font-weight: bold;
    font-size: .9rem;
    background: linear-gradient(99deg, rgba(120, 232, 122, 1) 0%, rgba(217, 155, 203, 1) 100%);
    position: relative;
    z-index: 100;
    transform: scale(1);

  }

}


.MediumButton-1 {
  position: absolute;
  z-index: 100;
  &__button {
    height: 40px;
    width: 50px;
    padding: 1px;
    font-weight: bold;
    font-size: .9rem;
    color: $black-metal-light;
    border-radius: 5px;
    border: solid white 3px;
    background: linear-gradient(99deg, rgba(120, 232, 122, 1) 0%, rgba(217, 155, 203, 1) 100%);

  }
}


.MediumButton-2 {
  position: absolute;
  z-index: 100;
  &__button {
    height: 30px;
    width: max-content;
    padding: 3px;
    font-weight: bold;
    font-size: .9rem;
    color: $white-metal-light;
    border-radius: 5px;
    border: solid white .1px;
    background: linear-gradient(99deg, rgb(21, 98, 112) 0%, rgb(105, 23, 86) 100%);

  }
}

.MediumButton-3 {
  position: absolute;
  z-index: 100;

  &__button {
    height: 50px;
    width: 50px;
    padding: 1px;
    font-weight: bold;
    font-size: .7rem;
    color: $black-metal-light;
    border: inset white 2px;
    border-radius: $border-radius-pill;
    background: linear-gradient(99deg, rgba(120, 232, 122, 1) 0%, rgba(217, 155, 203, 1) 100%);

  }
}



.HardButton-1 {
  position: absolute;

  &__button {

    background: red;
  }
}

.HardButton-2 {
  position: absolute;

  &__button {

    background: red;
  }
}

.HardButton-3 {
  position: absolute;

  &__button {

    background: red;
  }
}