@import 'variables';

@font-face {

}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: radial-gradient(circle, rgba(132, 222, 133, 1) 0%, rgba(35, 36, 36, 1) 100%);
  //background: url("../assets/wallpaper.jpg");
  height: 100vh;
  overflow: hidden;
  font-family: $Poppins;
}


.MAIN {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;

  .zone-in {
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;

  }

  .zoneToKeepSafe {
    background: $black-metal-light;
    top: 0;
    font-size: $fs-16;
    color: crimson;
    padding: 3px 10px;
    border: inset white 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .4);
    border-radius: $border-radius-lg;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    margin: 0 auto;
    transition: all .4s ease;

    h1 {
      &::selection {
        background: transparent;
      }

    }

    @media screen and (max-width: 770px) {
      font-size: .8rem;
      width: max-content;

    }
  }

  .deathZone {
    color: #f1f1F1;
    background-image: linear-gradient(67.5deg, rgb(235, 73, 66) 0%, rgb(235, 73, 66) 14%, rgb(197, 76, 57) 14%, rgb(197, 76, 57) 36%, rgb(159, 78, 48) 36%, rgb(159, 78, 48) 42%, rgb(121, 81, 39) 42%, rgb(121, 81, 39) 45%, rgb(83, 84, 29) 45%, rgb(83, 84, 29) 79%, rgb(45, 86, 20) 79%, rgb(45, 86, 20) 83%, rgb(7, 89, 11) 83%, rgb(7, 89, 11) 100%), linear-gradient(112.5deg, rgb(235, 73, 66) 0%, rgb(235, 73, 66) 14%, rgb(197, 76, 57) 14%, rgb(197, 76, 57) 36%, rgb(159, 78, 48) 36%, rgb(159, 78, 48) 42%, rgb(121, 81, 39) 42%, rgb(121, 81, 39) 45%, rgb(83, 84, 29) 45%, rgb(83, 84, 29) 79%, rgb(45, 86, 20) 79%, rgb(45, 86, 20) 83%, rgb(7, 89, 11) 83%, rgb(7, 89, 11) 100%), linear-gradient(22.5deg, rgb(235, 73, 66) 0%, rgb(235, 73, 66) 14%, rgb(197, 76, 57) 14%, rgb(197, 76, 57) 36%, rgb(159, 78, 48) 36%, rgb(159, 78, 48) 42%, rgb(121, 81, 39) 42%, rgb(121, 81, 39) 45%, rgb(83, 84, 29) 45%, rgb(83, 84, 29) 79%, rgb(45, 86, 20) 79%, rgb(45, 86, 20) 83%, rgb(7, 89, 11) 83%, rgb(7, 89, 11) 100%), linear-gradient(301deg, rgb(235, 73, 66) 0%, rgb(235, 73, 66) 14%, rgb(197, 76, 57) 14%, rgb(197, 76, 57) 36%, rgb(159, 78, 48) 36%, rgb(159, 78, 48) 42%, rgb(121, 81, 39) 42%, rgb(121, 81, 39) 45%, rgb(83, 84, 29) 45%, rgb(83, 84, 29) 79%, rgb(45, 86, 20) 79%, rgb(45, 86, 20) 83%, rgb(7, 89, 11) 83%, rgb(7, 89, 11) 100%), linear-gradient(301deg, rgb(169, 5, 29), rgb(51, 13, 59));
    background-blend-mode: overlay, overlay, overlay, overlay, normal;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: $border-radius-m;

    h1 {

      &::selection {
        background: transparent;
      }
    }


  }


  &__EASY_BUTTON {
    height: 90%;
    width: 90%;
    margin: 0 auto;

    .EasyButton-1 {
      position: absolute;
      z-index: 2;

      &__button {
        width: 100px;
        border-radius: 100%;
        height: 100px;
        background: url("../assets/bonus_ico/10pt_large.png");
        background-size: cover;
        clip-path: circle(50%);
        border: none;
      }
    }

    .EasyButton-2 {
      position: absolute;
      z-index: 2;

      z-index: 2;

      &__button {
        width: 100px;
        border-radius: 100%;
        height: 100px;
        background: url("../assets/bonus_ico/3s_large.png");
        background-size: cover;
        clip-path: circle(50%);
        border: none;

      }


    }

    .EasyButton-3 {
      position: absolute;
      z-index: 2;


      &__button {
        width: 70px;
        border-radius: 100%;
        height: 60px;
        background: url("../assets/bonus_ico/5px_large.png") no-repeat;
        background-size: contain;
        clip-path: circle(50%);
        border: none;

      }

    }


  }

  &__MEDIUM_BUTTON {
    height: 90%;
    width: 90%;
    margin: 0 auto;

    .MediumButton-1 {
      position: absolute;
      z-index: 2;


      &__button {
        width: 100px;
        border-radius: 100%;
        height: 100px;
        background: url("../assets/bonus_ico/20pt_large.png");
        background-size: cover;
        clip-path: circle(50%);
        border: none;
      }
    }

    .MediumButton-2 {
      position: absolute;
      z-index: 2;


      &__button {
        width: 100px;
        border-radius: 100%;
        height: 100px;
        background: url("../assets/bonus_ico/5s_large.png");
        background-size: cover;
        clip-path: circle(50%);
        border: none;


      }


    }

    .MediumButton-3 {
      position: absolute;
      z-index: 2;


      &__button {
        width: 90px;
        border-radius: 100%;
        height: 80px;
        background: url("../assets/bonus_ico/10px_large.png") no-repeat;
        background-size: contain;
        clip-path: circle(50%);
        border: none;


      }

    }


  }

  &__HARD_BUTTON {
    height: 90%;
    width: 90%;
    margin: 0 auto;


    .HardButton-1 {
      position: absolute;
      z-index: 2;


      &__button {
        width: 60px;
        border-radius: 100%;
        height: 60px;
        background: url("../assets/bonus_ico/30pt_large.png");
        background-size: cover;
        clip-path: circle(50%);
        border: none;
      }
    }

    .HardButton-2 {
      position: absolute;
      z-index: 2;


      &__button {
        width: 50px;
        border-radius: 100%;
        height: 50px;
        background: url("../assets/bonus_ico/8s_large.png");
        background-size: cover;
        clip-path: circle(50%);
        border: none;


      }


    }

    .HardButton-3 {
      position: absolute;
      z-index: 2;


      &__button {
        width: 70px;
        border-radius: 100%;
        height: 60px;
        background: url("../assets/bonus_ico/20px_large.png") no-repeat;
        background-size: contain;
        clip-path: circle(50%);
        border: none;


      }

    }

  }

  &__SCORE {
    margin-top: 20px;
    margin-left: 20px;
    padding: 30px;
    position: relative;
    color: #f1f1f1;
    text-align: left;

    &--score {
    }

    &--highScore {
      font-size: 1rem;
    }

  }

  &__LOOSE {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    inset: 0;
    color: crimson;
    position: absolute;
    z-index: 300;
    height: 100vh;
    background: #1e1e1e;
    margin: 0 auto;
    overflow: hidden;


    @media screen and (max -width: 500px) {
      font-size: 1.3rem;
    }

    &--text {
      text-decoration: underline crimson 10px;
    }

    &--score {

    }

    &--highScore {
      margin-bottom: 20px;
    }

    &--button {
      padding: 5px 10px;
      height: 50px;
      border-radius: 5px;
      border: none;
      letter-spacing: 2px;
      width: max-content;
      background: crimson;
      font-weight: bold;
    }

    &--openButton {
      top: 0;
      position: absolute;
      margin-top: 20px;
      border: solid black 1px;
      border-radius: 50%;
      width: 50px;
      aspect-ratio: 1;
      height: 50px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    &--closeButton {
      cursor: pointer;
      position: absolute;
      right: 5%;
      top: 3%;
      width: 50px;
      height: 50px;
    }
  }

  &__INSTRUCTIONS {
    position: relative;
    width: 900px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: solid white 4px;
    border-radius: $border-radius-xxl;
    transform: translateY(-15%);
    background: #1f1f1e;
    //height: max-content;
    color: #f1f1f1;
    padding: 10px;
    z-index: 400;


    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;

      &--logo {
        width: 15%;
      }

      &--text {
      }

      &--explication {
        font-size: 1.1rem;
        padding: 10px;
      }


    }

    &__bonus {
      margin: 0 auto;

      &--description {
        width: 80%;
        line-height: 1.6;
        font-size: 1.1rem;
        margin: 0 auto 20px;
      }


      &__BONUS_CONTAINER {
        border: solid black 1px;
        display: flex;
        width: 100%;


        &--logo {
          padding: 5px;
          border: solid black 1px;
          width: 10%;
          background: #1e1e1e;
        }

        &--text {
          text-align: left;
          //background: hotpink;
          font-size: 1.3rem;
          margin-left: 100px;
        }


      }

      &__StopTime {
      }

      &__PixelUp {
      }

      &__BonusPoint {
      }


    }

    &--startButton {
      height: 60px;
      font-weight: bold;
      font-size: 1.2rem;
      letter-spacing: 4px;
      cursor: pointer;
      border-radius: 10px;
      border: none;
      margin: 20px auto 10px;
      width: 200px;
    }
  }
}

// -- INSTRUCTIONS -- //
@media screen and (max-width: 910px) {


  .MAIN {

    &__INSTRUCTIONS {

      width: 600px;


      &__header {


        &--logo {
          width: 20%;
        }

        &--text {
          margin-top: 10px;
          font-size: 1.4rem;
        }

        &--explication {
          text-align: center;
        }

      }

      &__bonus {

        &__BONUS_CONTAINER {
          align-items: center;
          justify-content: flex-start;


          &--logo {
            width: 100px;
            height: 100px;
            aspect-ratio: 1;
          }

          &--text {
            width: 100%;
            margin-left: 10px;
          }

        }
      }

    }

<<<<<<< HEAD
=======
  }
}


@media screen and (max-width: 610px) {


  .MAIN {

    &__INSTRUCTIONS {

      width: 420px;
      padding: 5px;
      height: 90%;

      &__header {


        &--logo {
          width: 40%;
          margin-bottom: 20px;
        }

        &--text {
          margin-top: 10px;
          font-size: 1.4rem;
        }

        &--explication {
          text-align: center;
        }

      }

      &__bonus {

        overflow-y: scroll;
        height: 600px;

        &__BONUS_CONTAINER {
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          border: none;
          padding: 10px;
          &--logo {
            width: 100px;
            height: 100px;
            aspect-ratio: 1;
            border: none;
            margin: 10px 0;
          }

          &--text {
            width: 100%;
            margin-left: 10px;
            border-bottom: solid #f1f1f1 2px;

          }

        }
      }

    }

>>>>>>> a341f27b13fc50797d4aaa3f7b3a72f800de56dc
  }
}


@media screen and (max-width: 610px) {


  .MAIN {

    &__INSTRUCTIONS {

      width: 420px;
      padding: 5px;
      height: 90%;

      &__header {


        &--logo {
          width: 40%;
          margin-bottom: 20px;
        }

        &--text {
          margin-top: 10px;
          font-size: 1.4rem;
        }

        &--explication {
          text-align: center;
        }

      }

      &__bonus {

        overflow-y: scroll;
        height: 600px;

        &__BONUS_CONTAINER {
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          border: none;
          padding: 10px;
          &--logo {
            width: 100px;
            height: 100px;
            aspect-ratio: 1;
            border: none;
            margin: 10px 0;
          }

          &--text {
            width: 100%;
            margin-left: 10px;
            border-bottom: solid #f1f1f1 2px;

          }

        }
      }

    }

  }
}