@import 'variables';

@font-face {

}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: linear-gradient(rgba(241, 171, 66, 1) 0%, rgba(145, 113, 154, 1) 100%);
  height: 100vh;
  padding: 0 30px 10px 30px;
  overflow: hidden;
  font-family: $Poppins;
}

.overlay {
  background: transparent;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.MAIN {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .zone-in {
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;

  }

  .zoneToKeepSafe {
    background: $black-metal-light;
    top: 0;
    font-size: $fs-16;
    color: crimson;
    padding: 3px 10px;
    border: inset white 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .4);
    border-radius: $border-radius-lg;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    margin: 0 auto;
    transition: all .4s ease;

    h1 {
      &::selection {
        background: transparent;
      }

    }

    @media screen and (max-width: 770px) {
      font-size: .8rem;
      width: max-content;

    }
  }

  .deathZone {
    color: #f1f1F1;
    background-image: linear-gradient(67.5deg, rgb(235, 73, 66) 0%, rgb(235, 73, 66) 14%,rgb(197, 76, 57) 14%, rgb(197, 76, 57) 36%,rgb(159, 78, 48) 36%, rgb(159, 78, 48) 42%,rgb(121, 81, 39) 42%, rgb(121, 81, 39) 45%,rgb(83, 84, 29) 45%, rgb(83, 84, 29) 79%,rgb(45, 86, 20) 79%, rgb(45, 86, 20) 83%,rgb(7, 89, 11) 83%, rgb(7, 89, 11) 100%),linear-gradient(112.5deg, rgb(235, 73, 66) 0%, rgb(235, 73, 66) 14%,rgb(197, 76, 57) 14%, rgb(197, 76, 57) 36%,rgb(159, 78, 48) 36%, rgb(159, 78, 48) 42%,rgb(121, 81, 39) 42%, rgb(121, 81, 39) 45%,rgb(83, 84, 29) 45%, rgb(83, 84, 29) 79%,rgb(45, 86, 20) 79%, rgb(45, 86, 20) 83%,rgb(7, 89, 11) 83%, rgb(7, 89, 11) 100%),linear-gradient(22.5deg, rgb(235, 73, 66) 0%, rgb(235, 73, 66) 14%,rgb(197, 76, 57) 14%, rgb(197, 76, 57) 36%,rgb(159, 78, 48) 36%, rgb(159, 78, 48) 42%,rgb(121, 81, 39) 42%, rgb(121, 81, 39) 45%,rgb(83, 84, 29) 45%, rgb(83, 84, 29) 79%,rgb(45, 86, 20) 79%, rgb(45, 86, 20) 83%,rgb(7, 89, 11) 83%, rgb(7, 89, 11) 100%),linear-gradient(301deg, rgb(235, 73, 66) 0%, rgb(235, 73, 66) 14%,rgb(197, 76, 57) 14%, rgb(197, 76, 57) 36%,rgb(159, 78, 48) 36%, rgb(159, 78, 48) 42%,rgb(121, 81, 39) 42%, rgb(121, 81, 39) 45%,rgb(83, 84, 29) 45%, rgb(83, 84, 29) 79%,rgb(45, 86, 20) 79%, rgb(45, 86, 20) 83%,rgb(7, 89, 11) 83%, rgb(7, 89, 11) 100%),linear-gradient(301deg, rgb(169, 5, 29),rgb(51, 13, 59)); background-blend-mode:overlay,overlay,overlay,overlay,normal;    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: $border-radius-m;
    h1 {

      &::selection {
        background: transparent;
      }
    }


  }

  &__EASY_BUTTON {
    height: 90%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    .EasyButton-1 {
      position: absolute;


      &__button {
        width: 60px;
        height: 60px;
        padding: 5px;
        border-radius: $border-radius-pill;
        font-weight: bolder;
        font-size: .9rem;
        background: linear-gradient(99deg, rgba(120, 232, 122, 1) 0%, rgba(217, 155, 203, 1) 100%);
        transform: scale(1);
        position: relative;
        z-index: 100;


      }
    }

    .EasyButton-2 {
      position: absolute;

      &__button {
        width: max-content;
        height: 40px;
        color: #f1f1F1;
        padding: 3px 5px;
        border-radius: $border-radius-lg;
        font-weight: bold;
        font-size: .9rem;
        background: linear-gradient(20deg, rgb(154, 24, 40) 0%, rgb(16, 153, 203) 100%);
        transform: scale(1);
        position: relative;
        z-index: 100;


      }


    }

    .EasyButton-3 {
      position: absolute;

      &__button {
        width: 60px;
        height: 60px;
        padding: 5px;
        border-radius: $border-radius-pill;
        font-weight: bold;
        font-size: .9rem;
        background: linear-gradient(99deg, rgba(120, 232, 122, 1) 0%, rgba(217, 155, 203, 1) 100%);
        position: relative;
        z-index: 100;
        transform: scale(1);

      }

    }




  }

  &__MEDIUM_BUTTON {
    height: 40%;
    width: 100%;
    position: relative;
    margin: 0 auto;

    .MediumButton-1 {
      position: absolute;
      z-index: 100;
      &__button {
        height: 50px;
        width: 50px;
        text-align: center;
        padding: 3px;
        font-weight: bold;
        font-size: .8rem;
        color: $black-metal-light;
        border-radius: $border-radius-pill  ;
        border: solid white 3px;
        background: linear-gradient(99deg, rgba(120, 232, 122, 1) 0%, rgba(217, 155, 203, 1) 100%);

      }
    }

    .MediumButton-2 {
      position: absolute;
      z-index: 100;


      &__button {
        height: 30px;
        width: max-content;
        padding: 3px;
        font-weight: bold;
        font-size: .9rem;
        color: $white-metal-light;
        border-radius: 5px;
        border: solid white .1px;
        background: linear-gradient(99deg, rgb(21, 98, 112) 0%, rgb(105, 23, 86) 100%);

      }
    }

    .MediumButton-3 {
      position: absolute;
      z-index: 100;

      &__button {
        height: 50px;
        width: 50px;
        padding: 1px;
        font-weight: bold;
        font-size: .7rem;
        color: $black-metal-light;
        border: inset black 3px;
        border-radius: $border-radius-pill;
        background: linear-gradient(99deg, rgb(225, 196, 7) 0%, rgb(121, 215, 107) 100%);

      }
    }




  }

  &__HARD_BUTTON {
    height: 90%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    .EasyButton-1 {
      position: absolute;


      &__button {
        width: 60px;
        height: 60px;
        padding: 5px;
        border-radius: $border-radius-pill;
        font-weight: bolder;
        font-size: .9rem;
        background: linear-gradient(99deg, rgba(120, 232, 122, 1) 0%, rgba(217, 155, 203, 1) 100%);
        transform: scale(1);
        position: relative;
        z-index: 100;


      }
    }

    .EasyButton-2 {
      position: absolute;

      &__button {
        width: max-content;
        height: 40px;
        color: #f1f1F1;
        padding: 3px 5px;
        border-radius: $border-radius-lg;
        font-weight: bold;
        font-size: .9rem;
        background: linear-gradient(20deg, rgb(154, 24, 40) 0%, rgb(16, 153, 203) 100%);
        transform: scale(1);
        position: relative;
        z-index: 100;


      }


    }

    .EasyButton-3 {
      position: absolute;

      &__button {
        width: 60px;
        height: 60px;
        padding: 5px;
        border-radius: $border-radius-pill;
        font-weight: bold;
        font-size: .9rem;
        background: linear-gradient(99deg, rgba(120, 232, 122, 1) 0%, rgba(217, 155, 203, 1) 100%);
        position: relative;
        z-index: 100;
        transform: scale(1);

      }

    }




  }


  &__SCORE {
    position: relative;
    z-index: 10;

    &--score {
    }

    &--highScore {
      font-size: 1rem;    }

  }

  &__LOOSE {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    inset: 0;
    color: crimson;
    position: absolute;
    z-index: 300;
    height: 100vh;
    background: #1e1e1e;
    margin: 0 auto;

    &--text {
      text-decoration: underline crimson 10px;
  }

    &--score {

    @media screen and (max-width: 500px ) {
      font-size: 1.8rem ;
    }
    &--highScore {}

    }

    &--button {
      padding: 5px 10px;
      height: 50px;
      width: max-content;
      background: crimson;
      font-weight: bold;
    }

  }
}


//
