@import 'variables';

@font-face {

}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: radial-gradient(circle, rgba(132, 222, 133, 1) 0%, rgba(35, 36, 36, 1) 100%);
  height: 100vh;
  padding: 0 30px 10px 30px;
  overflow: hidden;
  font-family: $Poppins;
}

.INSTRUCTIONS {
  text-align: center;
  background: red;
  width: 50%;
  margin: 0 auto;

  &__header {

    &--title {

    }

    &--logo {

    }


  }

  &__bonus {

    &__BONUS_CONTAINER {
    }

    &__StopTime {
    }

    &__PixelUp {
    }

    &__BonusPoint {
    }


  }

}

.MAIN {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .zone-in {
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;

  }

  .zoneToKeepSafe {
    background: $black-metal-light;
    top: 0;
    font-size: $fs-16;
    color: crimson;
    padding: 3px 10px;
    border: inset white 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .4);
    border-radius: $border-radius-lg;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    margin: 0 auto;
    transition: all .4s ease;

    h1 {
      &::selection {
        background: transparent;
      }

    }

    @media screen and (max-width: 770px) {
      font-size: .8rem;
      width: max-content;

    }
  }

  .deathZone {
    color: #f1f1F1;
    background-image: linear-gradient(67.5deg, rgb(235, 73, 66) 0%, rgb(235, 73, 66) 14%, rgb(197, 76, 57) 14%, rgb(197, 76, 57) 36%, rgb(159, 78, 48) 36%, rgb(159, 78, 48) 42%, rgb(121, 81, 39) 42%, rgb(121, 81, 39) 45%, rgb(83, 84, 29) 45%, rgb(83, 84, 29) 79%, rgb(45, 86, 20) 79%, rgb(45, 86, 20) 83%, rgb(7, 89, 11) 83%, rgb(7, 89, 11) 100%), linear-gradient(112.5deg, rgb(235, 73, 66) 0%, rgb(235, 73, 66) 14%, rgb(197, 76, 57) 14%, rgb(197, 76, 57) 36%, rgb(159, 78, 48) 36%, rgb(159, 78, 48) 42%, rgb(121, 81, 39) 42%, rgb(121, 81, 39) 45%, rgb(83, 84, 29) 45%, rgb(83, 84, 29) 79%, rgb(45, 86, 20) 79%, rgb(45, 86, 20) 83%, rgb(7, 89, 11) 83%, rgb(7, 89, 11) 100%), linear-gradient(22.5deg, rgb(235, 73, 66) 0%, rgb(235, 73, 66) 14%, rgb(197, 76, 57) 14%, rgb(197, 76, 57) 36%, rgb(159, 78, 48) 36%, rgb(159, 78, 48) 42%, rgb(121, 81, 39) 42%, rgb(121, 81, 39) 45%, rgb(83, 84, 29) 45%, rgb(83, 84, 29) 79%, rgb(45, 86, 20) 79%, rgb(45, 86, 20) 83%, rgb(7, 89, 11) 83%, rgb(7, 89, 11) 100%), linear-gradient(301deg, rgb(235, 73, 66) 0%, rgb(235, 73, 66) 14%, rgb(197, 76, 57) 14%, rgb(197, 76, 57) 36%, rgb(159, 78, 48) 36%, rgb(159, 78, 48) 42%, rgb(121, 81, 39) 42%, rgb(121, 81, 39) 45%, rgb(83, 84, 29) 45%, rgb(83, 84, 29) 79%, rgb(45, 86, 20) 79%, rgb(45, 86, 20) 83%, rgb(7, 89, 11) 83%, rgb(7, 89, 11) 100%), linear-gradient(301deg, rgb(169, 5, 29), rgb(51, 13, 59));
    background-blend-mode: overlay, overlay, overlay, overlay, normal;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: $border-radius-m;

    h1 {

      &::selection {
        background: transparent;
      }
    }


  }

  &__EASY_BUTTON {
    height: 90%;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    z-index: 1;
    margin: 0 auto;

    .EasyButton-1 {
      position: absolute;

      &__button {
        position: relative;
        width: 100px;
        border-radius: 100%;
        height: 100px;
        background: url("../assets/bonus_ico/10pt_large.png");
        background-size: cover;
        clip-path: circle(50%);
        border: none;
      }
    }

    .EasyButton-2 {
      position: absolute;

      &__button {
        position: relative;
        width: 100px;
        border-radius: 100%;
        height: 100px;
        background: url("../assets/bonus_ico/3s_large.png");
        background-size: cover;
        clip-path: circle(50%);
        border: none;

      }


    }

    .EasyButton-3 {
      position: absolute;

      &__button {
        position: relative;
        width: 70px;
        border-radius: 100%;
        height: 60px;
        background: url("../assets/bonus_ico/5px_large.png") no-repeat;
        background-size: contain;
        clip-path: circle(50%);
        border: none;

      }

    }


  }

  &__MEDIUM_BUTTON {
    height: 90%;
    width: 90%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    margin: 0 auto;

    .MediumButton-1 {
      position: absolute;

      &__button {
        position: relative;
        width: 100px;
        border-radius: 100%;
        height: 100px;
        background: url("../assets/bonus_ico/20pt_large.png");
        background-size: cover;
        clip-path: circle(50%);
        border: none;
      }
    }

    .MediumButton-2 {
      position: absolute;

      &__button {
        position: relative;
        width: 100px;
        border-radius: 100%;
        height: 100px;
        background: url("../assets/bonus_ico/5s_large.png");
        background-size: cover;
        clip-path: circle(50%);
        border: none;


      }


    }

    .MediumButton-3 {
      position: absolute;

      &__button {
        position: relative;
        width: 90px;
        border-radius: 100%;
        height: 80px;
        background: url("../assets/bonus_ico/10px_large.png") no-repeat;
        background-size: contain;
        clip-path: circle(50%);
        border: none;



      }

    }


  }


  &__HARD_BUTTON {
    height: 90%;
    width: 90%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    margin: 0 auto;

    .HardButton-1 {
      position: absolute;

      &__button {
        position: relative;
        width: 60px;
        border-radius: 100%;
        height: 60px;
        background: url("../assets/bonus_ico/30pt_large.png");
        background-size: cover;
        clip-path: circle(50%);
        border: none;
      }
    }

    .HardButton-2 {
      position: absolute;

      &__button {
        position: relative;
        width: 50px;
        border-radius: 100%;
        height: 50px;
        background: url("../assets/bonus_ico/8s_large.png");
        background-size: cover;
        clip-path: circle(50%);
        border: none;


      }


    }

    .HardButton-3 {
      position: absolute;

      &__button {
        position: relative;
        width: 70px;
        border-radius: 100%;
        height: 60px;
        background: url("../assets/bonus_ico/20px_large.png") no-repeat;
        background-size: contain;
        clip-path: circle(50%);
        border: none;



      }

    }


  }


  &__SCORE {
    position: relative;

    &--score {
    }

    &--highScore {
      font-size: 1rem;
    }

  }

  &__LOOSE {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    inset: 0;
    color: crimson;
    position: absolute;
    z-index: 300;
    height: 100vh;
    background: #1e1e1e;
    margin: 0 auto;

    &--text {
      text-decoration: underline crimson 10px;
    }

    &--score {

      @media screen and (max-width: 500px) {
        font-size: 1.6rem;
      }

      &--highScore {
      }

    }

    &--button {
      padding: 5px 10px;
      height: 50px;
      width: max-content;
      background: crimson;
      font-weight: bold;
    }

  }
}


